export(KLFDAPC)
export(predict.klfdapc)
export(KLFDA)
export(KLFDAPT)
export(kmatrixGauss)
importFrom("kernlab", "kernelMatrix")
importFrom("rARPACK","eigs")
importFrom("lfda", "getMetricOfType","repmat")
importFrom("MASS", "lda","ginv")
importFrom("klaR","NaiveBayes")
import("plotly")
importFrom("grDevices", "rainbow")
importFrom("stats", "cov", "predict", "setNames", "var")
importFrom("utils", "data")
importFrom("SNPRelate", "snpgdsOpen","snpgdsPCA","snpgdsClose")
S3method(predict.klfdapc)
